:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
    font-family: "Google Sans", sans-serif;
    background-color: black;
}


.container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav nav"
        "sidebar searchboxcontainer searchboxcontainer searchboxcontainer searchboxcontainer"
        "sidebar main main main main"
        "sidebar content1 content2 content3 content4"
        "sidebar footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background: black;
    grid-area: nav;
    border: 2px solid #45a049;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#searchboxcontainer {
    background: #18ffff;
    grid-area: searchboxcontainer;
    border-radius: var(--main-radius);
    padding: 0px;
}


#searchbox {
    display: grid;
    height: 1fr;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "searchtextbox gotextbox";
    grid-gap: 1rem;
    margin: 1rem;
}
#searchtextbox {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: 100px;
    color: gray;
    width:100%;
}
#gotextbox {
    height: auto;
    font-size: 50px;
    color: gray;
}

main {
  background: #84ffff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content4 {
  background: #73ffba;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}






@media only screen and (min-resolution: 170dpi) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav nav"
            "sidebar sidebar"
            "searchboxcontainer searchboxcontainer"
            "main main"
            "content1 content2"
            "content3 content4"
            "footer footer";
    }
}
